* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: #000000;
}

.offset {
    margin-top: 2%;
}

.big {
    font-size: 2rem;
}

span {
    position: relative;
    top: 15px;
    left: 25px;
}

.logo {
    max-width: 2.5%;
    position:fixed;
    top: 1.35%;
    left: 1%;
}

.aa1 {
    left: 2%;
    position: relative;
    text-decoration: none;
    display: inline;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 2rem;
}

.aa1:hover {
    opacity: 0.5;
    cursor: pointer;
}

.aa2 {
    left: 1.75%;
    position: relative;
    text-decoration: none;
    display: inline;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 1.5rem;
}

.aa2:hover {
    opacity: 0.5;
    cursor: pointer;
}

.topButton {
    position: fixed;
    top: 92%;
    right: 1%;
    background-color: turquoise;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}
