* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: #000000;
}
.noDecText {
    text-decoration: none;
}

.offset {
    margin-top: 2%;
    background-color: #FFFFFF;
}

.header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 0.6%;
    background-color: #D3D3D3;
}

.big {
    font-size: 2rem;
}

span {
    position: relative;
    top: 15px;
    left: 25px;
}

.logo {
    max-width: 2.5%;
    position: relative;
    top: 10px;
    left: 0%;
}

.aa1 {
    position: relative;
    text-decoration: none;
    display: inline;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 2rem;
}

.aa1:hover {
    opacity: 0.5;
    cursor: pointer;
    color: green;
}

.aa2 {
    position: relative;
    text-decoration: none;
    display: inline;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 1.5rem;
}

.aa2:hover {
    opacity: 0.5;
    cursor: pointer;
    color: green;
}

.topButton {
    position: fixed;
    top: 92%;
    right: 1%;
    background-color: turquoise;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}


.loginbutton {
    position: fixed;
    top: 50%;
    left: 40%;
    border-radius: 50px;
    background: #1DB954;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 20%;
    height: 8%;
    font-size: 1.5vw;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    border: 2px solid #4CAF50; /* Green */
    box-shadow: 6px 6px 5px -2px black;
}

.getStarted {
    position: relative;
    top: 0.5vw;
    left: 50vw;
    border-radius: 50px;
    background: #1DB954;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 20%;
    height: 8%;
    font-size: 1.5vw;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    border: 2px solid #4CAF50; /* Green */
    box-shadow: 6px 6px 5px -2px black;
}

.loginbutton:hover {
    
}
